.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(287px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    align-content: flex-start; /* Cambiado a center para centrar verticalmente */
    background-color: #a2a8d3;
    margin-bottom: 20px;
    padding-top: 20px;
    background-image: url('../../../public/Home-BCKG.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  .videogameContainer {
    transition: transform 0.3s ease;
    display: flex; /* Agregado */
    justify-content: center; /* Agregado para centrar horizontalmente */
    align-items: center; /* Agregado para centrar verticalmente */
  }
  
  .videogameContainer:hover {
    transform: translateY(-5px);
  }

  .filtersContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0px;
    padding: 10px;
    background-color:grey;
  }
  
  .selectContainer {
    width: 150px;
    background-color: #a2a8d3;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
  }
  
  .selectContainer label {
    font-size: 16px;
    font-weight: bold;
  }
  
  .selectContainer select {
    width: 100%;
    border: none;
    background-color: #fff;
    font-size: 16px;
    font-weight: normal;
    color: #333;
    outline: none;
    transition: all 0.2s ease-in-out;
  }
  
  .selectContainer option {
    color: #333;
    padding: 10px 0;
  }
  
  .selectContainer option:hover {
    background-color: #eee;
  }
  
  .selectContainer option:selected {
    background-color: #ccc;
    color: #fff;
    font-weight: bold;
  }
  
  .selectContainer option:disabled {
    color: #ccc;
    background-color: #fff;
    cursor: not-allowed;
  }
  
  .selectContainer select:focus {
    border-color: #ccc;
    box-shadow: 0 0 5px 0 #ccc;
  }
  
  